
.z-1 {
    z-index: 1;
}

.text-14 {
    font-size: 12px;
}

.border-radius-15 {
    border-radius: 15px;
}

.my-w-200 {
    width: 200px;
}

.my-fw-600 {
    font-weight: 600;
}

/* -----HEADER----- */


#logo-sony {
    height: 18px;
}

#logo-play {
    height: 40px;
}

/* -----MAIN----- */

/* JUMBO */

#jumbo {
    background-image: url(../img/img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

#jumbo-2 {
    background-image: url(../img/img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: top;
}

.my-bg-none {
    background-color: rgba(0, 0, 0, 0);
}

/* JUMBO-GAMES */

.jumbo-games-active-img {
    border: 3px solid white;
}

.jumbo-games-active-card {
    border: 3px solid #4a9bdc;
}

/* USCITE */

#nuove-uscite {
    background-color: #1F1F1F;
}





















































/* LAYOUT */

#jumbo {
    height: 500px;
}

#jumbo-2 {
    height: 500px;
}


#playstation-plus {
height: 400px;
}

#sconti {
height: 400px;
}

#playstation-now {
height: 400px;
}

#social-media {
height: 400px;
}




.brdr {
    border: 1px dashed black;
}

