/* -----HEADER----- */


#logo-sony {
    height: 18px;
}

#logo-play {
    height: 40px;
}

/* -----MAIN----- */

/* JUMBO */

#jumbo {
    background-image: url(../img/img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

.my-bg-none {
    background-color: rgba(0, 0, 0, 0);
}





















































/* LAYOUT */

#jumbo {
    height: 500px;
}

#jumbo-games {
    height: 500px;
}

#playstation5 {
    height: 400px;
}

#jumbo-2 {
    height: 500px;
}

#nuove-uscite {
    height: 500px;
}

#esplora-playstation {
height: 400px;
}

#playstation-plus {
height: 400px;
}

#sconti {
height: 400px;
}

#playstation-now {
height: 400px;
}

#social-media {
height: 400px;
}




.brdr {
    border: 1px dashed black;
}

